@model IEnumerable<string>

@foreach (string categories in Model)
{
    <a class="btn @(categories == ViewBag.SelectedCategory
    ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@categories"
       asp-route-productPage="1">@categories</a>
}